.card-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
}

.search {
    width: 100%;
    max-width: 312px;
    height: 220px;
    background-color: var(--background-secondary-color);
    text-align: center;
    padding: 41px 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-primary-color);
}
.search img {
    width: 80px;
    height: auto;
}

@media screen and (min-width: 740px) {
    .card-search {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .search {
        max-width: 280px;
    }
}

@media screen and (min-width: 1044px) {
    .search {
        max-width: 380px;
    }
}

@media screen and (min-width: 1450px) {
    .card-search {
        flex-wrap: nowrap;
        gap: 48px;
    }
    .search {
        width: 280px;
    }
}
