.hero-img {
  height: 400px;
  width: 100%;
  background: url(/img/bg-mobile.jpg) no-repeat center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(/img/bg-tablet.jpg) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .hero-img {
    height: 720px;
    background: url(/img/bg-desktop.jpg) no-repeat center;
    background-size: cover;
  }
}
