.payments .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 24px;
    height: 460px;
    width: 100%;
}

.payments .image-gallery .first {
    background: url(/img/gallery1-mobile.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
}

.payments .image-gallery .second {
    display: block;
    background: url(/img/gallery2-mobile.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
}

.payments .image-gallery .trirdy {
    display: block;
    background: url(/img/gallery3-mobile.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;

    grid-column: 1 / -1;
}

.payments .image-gallery .image.colspan-2 {
    grid-column: span 2;
}

@media screen and (min-width: 768px) {
    .payments .image-gallery .first {
        background: url(/img/gallery1-tablet.png) no-repeat center center;
        background-size: cover;
    }

    .payments .image-gallery .second {
        display: block;
        background: url(/img/gallery2-tablet.png) no-repeat center center;
        background-size: cover;
    }

    .payments .image-gallery .trirdy {
        display: block;
        background: url(/img/gallery3-tablet.png) no-repeat center center;
        background-size: cover;

        grid-column: 1 / -1;
    }
}

@media screen and (min-width: 1440px) {
    .payments .content-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }
    .payments .content-container .text-content {
        width: 360px;
    }
    .payments .content-container .image-gallery {
        width: 790px;
    }
}
