.payments .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 24px;
    height: 460px;
}

.image.bag {
    display: block;
    background: url(/img/img-montagem.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 254px;
}

.image.passport {
    display: block;
    background: url(/img/img-montagem-ponte.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 254px;
}

.image.people {
    display: block;
    background: url(/img/img-montagem-passageiro.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 254px;
    grid-column: 1 / -1;
}
