.card-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.search {
    width: 420px;
    height: 220px;
    background-color: var(--background-secondary-color);
    text-align: center;
    padding: 41px 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-primary-color);
}
.search img {
    width: 80px;
    height: auto;
}
.search h4 {
    font-size: 28px;
    font-weight: var(--titles-weight);
}

@media screen and (min-width: 768px) {
    .card-search {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1450px) {
    .card-search {
        gap: 48px;
    }
    .search {
        width: 280px;
    }
}
